.wrapper
= render 'shared/side_bar'
.Chat
  .Chat_top
    .Chat_top_group
      .Chat_top_group_name
        Sample
      .Chat_top_group_member
        member: neko
    .Chat_top_btn
      Edit
  .Chat_main
    .Chat_main_message
      .Chat_main_message_name
        seo
      .Chat_main_message_date
        2019/09/09/ 12:12:12
    .Chat_main_text
      hello!
  .Chat_bottom
    .Chat_bottom__body
      type a message  
      .Chat_bottom__image
        %label.input_box_image
          %i.fa.fa-picture-o
          %input.file_select{type: "file", name: "image"}
      .Form__btn
        Send    